@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.normal-btn .button.hover{
    background:rgb(251, 251, 251);
    border-color: rgb(0, 102, 0);
    color: rgb(0, 102, 0);
}
a{
    color: black;
    text-decoration: none;
}
.button{
    padding: 4px 12px 4px 12px;
    margin-right: 5px;
    margin-left:5px;
    border: 2px solid rgb(19, 18, 18);
    border-radius: 20px;
    font-weight: 700;
}
.fill{
    background: black;
    color: white;
}

.fill.hover{
    background: green;
    border-color: green;
    
}

.hover:hover{
    cursor: pointer;
    outline-style: none;
}
