* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    max-width: 80rem;
    margin: 5em auto;
}

p {
    padding-bottom: 0.5em;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

header{
    border-bottom: 2px solid #000;
    display: flex;
    margin-bottom: 1em;
    flex: 0 0 100%;
}

header p {
    padding-bottom: 1rem;
    font-size: 42px;
    font-weight: bold;
}

h1, h2 {
    padding: 0.5em 0;
    flex: 1 1 100%;
}

main {
    display: flex;
    flex: 0 0 80%;
    flex-direction: column;
}

article {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3em;
}

body > div > main > article:nth-child(1) {
    justify-content: space-between;
}

body > div > main > article:nth-child(1) > p:nth-child(2) {
    flex: 0 0 75%;
}

body > div > main > article:nth-child(1) > p:nth-child(3) {
    align-content: flex-start;
    flex: 0 0 75%;
}

.media {
    margin-bottom: 1%;
}

.media img {
    padding: 0.5em;
    border: 2px solid black;
}

blockquote {
    flex: 0 0 40%;
    opacity: 0.4;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    padding-bottom: 0.5em;
    padding-left:1em;
    font-style: italic;
}

blockquote .author {
    text-align: right;
    padding: 1em;
}

body > div > main > article:nth-child(2) {
    align-items: flex-start;
    justify-content: space-between
    
}

body > div > main > article:nth-child(2) > p:nth-child(3) {
    flex: 0 0 55%;
    padding-right: 1em;
}

body > div > main > article:nth-child(3) > p:nth-child(3) {
    flex: 0 0 75%;
}

body > div > main > article:nth-child(3) {
    justify-content: space-between;
}

body > div > main > article:nth-child(3) > p:nth-child(4) {
    padding-top: 1em;
    flex: 1 0 75%;
    justify-content: flex-end
}

aside {
    margin-left: 2.5em;

}

aside ul {
    flex: 0 0 100%;

}

