body{
    background: rgb(238, 238, 238);
    max-width: 60rem;
    margin: 0 auto;
}
.gallery {
    max-width: 80rem;
    margin: 5em auto;

}
.gallery li{
    list-style-type: none;
    border: 0.4rem solid black;
    padding: 1.5em 1em 1em 1em;
    display: inline-block;
    width: 15rem;
    height: auto;
    text-align: center;
    margin-bottom: 1em;
    margin-right: 1em;
    vertical-align: middle;
}

.gallery li img {
    width: 100%;
    height: auto;
     
}
