* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;  
    font: 16/1.5 sans-serif;
}

body {
    text-transform: uppercase;
    color: white;
}

.personal-card {
    background-image: linear-gradient(to bottom, #051937, #003c5e, #005f67, #00804d, #72991a);
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.personal-info img {
    width: 150px;
    height: 150px;
    transform: rotate(-20deg);
    margin-left: 1.5rem;
}

.color-box > p {
    width: 20%;
    height: 0.2rem;
    float: left;
    margin-top: 1.5rem;
}

.color-box.bottom > p{
    margin: 0;
}

.color-box.with-content {
    margin-bottom: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.color-box.with-content > p {
    height: auto;
    margin: 0;
    font-style: 18px;
    text-align: center;
    font-weight: bold;
    padding: 0.6rem;
}

.yellow {
    background: yellow;
}

.yellow-green {
    background: yellowgreen;
}

.green {
    background: green;
}

.orange {
    background: orange;
}

.red {
    background: red;
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: yellowgreen;
}

.personal-info {
    padding: 4rem 4rem 6rem 2rem;
}

.personal-content {
    width: 50%;
    float: right;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.with-content .yellow {
    position: relative;
}

.with-content .yellow  img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}