* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header{
    border-bottom: 2px solid #000;
    margin-bottom: 1em;
    display: flex;
    padding-top: 0.5em;
}

header p {
    padding-bottom: 1rem;
    font-size: 42px;
    font-weight: bold;
    margin-right: auto;
    flex: 0 0 30%;
    margin-right: auto;
}

header ul {
    flex: 0 0 auto;
    display: flex;
}

header li {
    list-style: none outside;
    padding-right: 1em;
    
}

header a {
    text-decoration: none; 
    color: rgb(0, 153, 0);
}

h1, p {
    padding-bottom: 0.6em;
}

main {
    padding: 2em 0.5em;
}

footer {
    padding: 0.7em;
    color: #000;
    background: rgb(158, 155, 155);
}