nav ul {
    padding: 0.3rem;
}

header nav ul{
    float: right;
}
header nav ul li {
    list-style:none inside;
    float: left;
    margin: 1em;
    padding-top: 4em;

}


aside nav ul li {
    list-style: inside;
    margin-left:1em;
}

nav ul li a {
    text-decoration: none;
    color: rgb(18, 116, 24);


}

aside {
    width: 20%;
    float: left;
    margin: 1em 4em;

}
