.cards-list.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards-list.flexbox:before,
.cards-list.flexbox:after {
    display: block;
    content: '';
    order: 1000;
}

.cards-list.flexbox .card,
.cards-list.flexbox:after,
.cards-list.flexbox:before {
    flex: 0 0 31%;
}

.cards-list.flexbox .card {
    display: flex;
}

.cards-list.masonry {
    column-count: 3;
    column-gap: 1em;
}

.cards-list.masonry .card {
    display: inline-block;
    break-inside: avoid;
}

.card .inner {
    display: flex;
    flex-direction: column;
}

.card {
    border: 1px solid black;
    margin-bottom: 3%;
}

.cards-list.flexbox .card-media {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cards-list.flexbox .card-media:before {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.cards-list.flexbox .card-media img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/**/
.cards-list.masonry .card-media {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cards-list.masonry .card-media:before {
    display: block;
    content: '';
}

.cards-list.masonry .card-media img {
    width: 100%;
    height: auto;
}



.card-header {
    padding: 1em;
}

.card-content {
    padding: 1em;
    flex-grow: 1;
}

.card-footer {
    border-top: 1px solid black;
}

.card-footer ul {
    display: flex;

}

.card-footer li {
    flex: 1 1 auto;
}

.card-footer li:first-child {
    border-right: 1px solid black;
}

.card-footer a {
    padding: 0.5em 1em;
    display: block;
    text-align: center;
    color: #000;
}

.card-footer a:hover {
    background: #000;
    color: #fff;
}