body {
    font: 20px/1.5 sans-serif;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: aquamarine;
    width: 100%;
    height: 50px;
    opacity: 0.4;
    padding-left: 2rem;
    padding-top: 0;
}

p {
    padding-left: 8rem;
    padding-top: 2rem;
}

.sticky {
    top: 0;
    left: 0;
    background:yellowgreen;
    opacity: 0.4;
    position: sticky;
    padding-left: 2rem;
    padding-top: 0;
}