@import url('./typography.css');

body {
    max-width: 100rem;
    margin: 5em auto;
}

header {
    border-bottom: 2px solid rgb(58, 55, 55);
    margin-bottom: 2em;
}

nav {
    display: inline-block;
}

div > h1 {
    display: inline-block;
}

header > h1 {
    display: inline-block;
    margin-right: 2.5em;
    padding-bottom: 2rem;
}

nav a {
    margin-right: 2em;
    text-decoration: none;
    color:rgb(29, 158, 29);
}