.button {
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 3px;
}

.button:hover {
    background: purple;
    color: white;
    border-color: purple;
}

input[type="submit"],
input[type="email"] {
    padding: 0.5em 0.8em;
    background: #fff;
    border: none;
    border-radius: 2px;
}