.site-nav {

}

.site-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.site-nav li {
    display: block;
    list-style: none outside;
    padding: 0 0.5em;
}

.site-nav a {
    display: block;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    color: #000;
    text-decoration: none;
    outline: none;
}

.site-nav a:focus,
.site-nav a:hover {
    color: #FFF;
    background: purple;
}

.site-nav a:focus {
    text-decoration: underline;
}

#checkbox {
    opacity: 0;
}

.menu, .close-menu {
    display: none;
    text-align: center;
    padding: 1em;
}

@media (max-width: 800px) {

    .menu {
        display: block;
    }

    .site-nav ul {
        display: none;
    }

    .site-nav a {
        text-align: center;
    }

    #checkbox:checked + header .wrapper{
        display: block;
        border: none;
        padding: 5em;
    }

    #checkbox:checked + header p {
        text-align: center;
    }

    #checkbox:checked + header .wrapper .menu {
        display: none;
    }

    #checkbox:checked + header .wrapper .close-menu {
        display: block;
    }

    #checkbox:checked + header .wrapper ul {
        display: block;
        width: 100%;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    #checkbox:checked + header .wrapper li {
        display: block;
        margin: 0.5em;
    }

}

@media (min-width: 600px) {

    #checkbox:checked + header p {
        padding: 0.3em;
        text-align: left;
    }
}