* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


div, section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 0 auto;

}

.container {
    border: 1px solid #000;
    max-width: 65vw;
}

span {
    border: 1px solid #000;
    
}

.week {
    flex: 0 0 75%;
}



.daytype {
    flex: 0 0 100%;
    text-align: center;
    padding: 1rem 0 5rem 0;
}

.workday {
    flex: 0 0 20%;
    text-align: center;
    padding: 1rem 0 5em 0;
}

.restday {
    flex: 0 0 50%;
    text-align: center;
    padding: 1rem 0 5em 0;
}

.notes {
    flex: 0 0 25%;
    flex-direction: column;
}

.note { 
    flex: 0 0 232px;
    width: 16.2vw;
    text-align: center;
}