* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    max-width: 80rem;
    margin: 1rem auto;
    display: flex;
}

.container {
    display: flex;
    border: 1px solid #000;
    flex-grow: 1;
}

.container .item {
    flex-grow: 1;
    border: 1px solid #000;

}

.container .week {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.item {
    text-align: center;
    padding: 0.5rem 0 5rem 0;
}

.notes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.item-grow {
    flex-basis: 100%;
}