@media (max-width: 1024px) {

    .site-main {
        margin: 0;
    }
    
    .entry-header {
        border-radius: 0px;
    }

    .site-logos {
        padding: 0;
    }

   .site-logos-container {
       display: flex;
       flex-wrap: wrap;
       padding: 1em 4em;
       justify-content: space-between;
   }

    .site-logo {
        width: 13.5%;
        font-size: 1.2em;
    }

    .site-logo img{
        width: 100%;
        height: auto;
    }

   .site-logo:not(:last-child) {
       margin: 0;
   }

   .site-information-text {
       padding: 3em 0 3em 2em;
   }

   .entry-subtitle {
       font-size: 1.5em;
   }

   .site-information-image {
       flex-basis: 49%;
       margin: 1em 0;
   }

   .entry-title {
       font-size: 2.3em;
       display: inline-block;
   }

   .entry-description  {
       font-size: 1.1em;
   }
}

@media (max-width: 768px) {


    .entry-header {
        background-repeat: no-repeat;
        background-position-x: center;
        padding: 2em 0;
    }

    .entry-header-description {
        font-size: 1em;
    }

    .entry-header-title {
        font-size: 2.5em;
    }

    .entry-header-title::first-letter {
        font-size: 1.7em;
        letter-spacing: 0px;
    }

    .entry-header-description {
        top: 23px;
        left: 57px;
    }

    .button {
        padding: 0.8em 1.2em;
    }

    .site-logos-container {
        padding: 1em 7em;
    }

    .site-logos-container:after {
        display: block;
        content: '';
    }

    .site-logos-container:before {
        display: block;
        content: '';
        order: 1000;
    }

    .site-logos-container:after,
    .site-logos-container:before,
    .site-logo {
        flex: 0 0 26%;
    }

    
    .site-information-image {
        display: none;
    }
    
    .site-information-text {
        flex: 0 0 100%;
        text-align: center;
    }

    .entry-description {
        margin: 0 auto;
    }


    .site-form {
        margin: 0;
    }

    .site-form form > p {
        display: block;
    }

    .site-form label {
        display: block;
    }

    .site-form input {
        width: 100%;
    }

    .site-form button {
        margin: 0 auto;
    }

    .site-posts {
        display: block;
    }

    .site-posts {
        padding: 0 7em 0 7em;
    }

    .site-footer {
        display: block;
        text-align: center;
        padding: 1em;
        font-size: 0.8em;
    }

    .site-navigation ul{
        display: none;
    }
}