article{
    background: rgb(51, 102, 153);
    border-radius: 1rem;
}
html{
    font: 16px/1.5;
}
body{
    font:inherit;
}
h2{
    font-family: Georgia, serif;
}
body{
    margin: 0 auto;
    max-width: 60rem;
    color: white;
}