* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    background: rgb(238, 238, 238);
}

.card {
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    box-shadow: 2px 0px 24px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
}

.media {
    width:100%; 
    overflow: hidden;
    position: relative;
    
}

.media:before {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.media img {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    padding: 2rem;
    position: relative;
    font-size: 20px;

}

.info button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 0.5rem 0.7rem;
    color: #fff;
    background: rgb(0, 153, 0);
    border-radius: 5px;

}

.info p {
    margin-top: 0.5rem;
    padding-bottom: 23%;
}
